<center>
    <h1>Hello World</h1>
    <hr>

    <h3>Location:</h3>
    <p>
        Lat: {{ location.latitude }} <br>
        Long: {{ location.longitude }} <br>
    </p>

    <h3>Weather:</h3>
    <p>
        Temp: {{ weather.temperature }} <br>
    </p>

</center>